.next
.cache
package-lock.json
public
node_modules
next-env.d.ts
next.config.ts
commitlint.config.js
.prettierrc.js
app-structure.config.js
commitlint.config.js
lint-staged.config.js
.gitignore
.husky/commit-msg
.husky/pre-commit
.prettierignore
.stylelintignore
src/app/favicon.ico